<header class="site-header">
  <div class="wrap header-inner">
    <a class="brand" href="/" aria-label="{{ site.name }} home">
      <span class="brand-mark" aria-hidden="true">🪶</span>
      <span class="brand-text">Made&nbsp;Out&nbsp;of&nbsp;Clay</span>
    </a>
    <nav class="site-nav" aria-label="Primary">
      <button class="nav-toggle" aria-expanded="false" aria-controls="nav-menu">Menu</button>
      <ul id="nav-menu" class="nav-menu">
        <li><a href="/books/">Books</a></li>
        <li><a href="/library/">Library</a></li>
        <li><a href="/series/sunnys-table/">At Sunny's Table</a></li>
        <li><a href="/series/just-the-way-you-are/">Just the Way You Are</a></li>
        <li><a href="/series/kingdom-of-judea/">Kingdom of Judea</a></li>
        <li><a href="/author/">Author</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
